<ul class="top-nav">
    <li><a href="/calls">Calls</a></li>
    <li><a href="/admin/plots">Plots</a></li>
    <li><a href="/admin/crews">Crews</a></li>
    <li><a href="/admin/staff">Staff</a></li>
    <li><a href="/admin/cars">Cars</a></li>
    <li><a href="/admin/members">Members</a></li>
    <li><a href="/admin/roles">Roles</a></li>
    <li><a href="/admin/incidents">IncidentTypes</a></li>
    <li><a href="/">Home</a></li>
</ul>