.main-block {
    text-align: center;
}

.make-call {
    text-decoration: none;
    color: white;
    background: rgb(28, 28, 228);
    padding: 15px 100px;
    border-radius: 20px;
    display: inline-block;
    margin: 18px auto;
    transition: background 0.5s;
}

.make-call:hover {
    background: rgb(14, 14, 139);
    transition: background 0.5s;
}